<div id="wrapper">

  <header>
    <h2 class="clickable" (click)="get_mails()">{{title}}</h2>
    <hr>
    <label for="show_deleted">Show Deleted:
      <input id="show_deleted" type="checkbox"
             [checked]="show_deleted == 'true'"
             (change)="show_deleted_handler($event)">
    </label>
    <hr>
    <label for="tags">Tag prefix:
      <select id="tags" (change)="select_handler($event)">
        <option *ngFor="let item of tags" value="{{item}}"
                [selected]="item == tag_selected"
        >{{item}}</option>
      </select>
    </label>
    <hr>
    <div class="info">
      <span #email class="code">
        {{name_space}}.
        <span class="editable" contenteditable="true" tabindex="1"
              (keydown)="set_value_handle($event, 'email_tag')"
              autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">{{email_tag}}</span>
        {{email_suffix}}</span>
      <span class="copy" (click)="copy_handle($event)">copy</span>
    </div>

    <div class="header_right">
      <div class="loading" *ngIf="loading"></div>
      <hr>
      <label for="namespace">Namespace:
        <input id="namespace" type="text" placeholder="namespace"
               (keyup)="set_value_handle($event, 'namespace')"
               (change)="get_mails()"
               [value]="name_space">
      </label>
      <hr>
      <label for="api_key">Api Key:
        <input id="api_key" type="text" placeholder="api-key"
               (keyup)="set_value_handle($event, 'api_key')"
               (change)="get_mails()"
               [value]="api_key">
      </label>
    </div>
  </header>

  <section>
    <aside class="sidebar">
      <div class="card" *ngFor="let item of emails"
           (click)="card_click_handler(item)"
           [ngClass]="{'selected': selected && item.oid === selected.oid,
           'deleted': deleted.includes(item.oid)}">
        <span class="title">{{item.subject}}</span>
        <span class="subtitle">{{parse_date(item.date)}}</span>
        <span class="subtitle">{{item.from}}</span>
        <span class="subtitle">To: {{item.to}}</span>
        <div class="buttons">
          <div class="btn" *ngIf="deleted.includes(item.oid)" (click)="restore_handler($event, item)">Restore</div>
          <div class="btn" *ngIf="!deleted.includes(item.oid)" (click)="delete_handler($event, item)">Delete</div>
        </div>
      </div>
    </aside>
    <hr>

    <aside class="content">
      <header *ngIf="selected">
        <div>
          <div *ngIf="selected" class="title">{{selected.subject}}</div>
          <span class="subtitle">{{parse_date(selected.date)}}</span>
          <div class="subtitle">From: {{selected.from}}</div>
          <div class="subtitle"><span style="float: left; margin-right: 5px">To:</span>
            <div *ngIf="selected && selected.to_parsed.length == 1" style="display: inline">
              <span *ngIf="selected.to_parsed[0].name">{{selected.to_parsed[0].name}} - </span>
              <span>{{selected.to_parsed[0].address}}</span>
            </div>
            <details *ngIf="selected && selected.to_parsed.length > 1" style="display: inline">
              <summary *ngFor="let tos of selected.to_parsed">
                <span *ngIf="tos.name">{{tos.name}} - </span>
                <span>{{tos.address}}</span>
              </summary>
            </details>
          </div>

          <div class="subtitle" *ngIf="selected && selected.cc"><span style="float: left; margin-right: 5px">cc:</span>
            <div *ngIf="selected && selected.cc_parsed.length == 1" style="display: inline">
              <span *ngIf="selected.cc_parsed[0].name">{{selected.cc_parsed[0].name}} - </span>
              <span>{{selected.cc_parsed[0].address}}</span>
            </div>
            <details *ngIf="selected && selected.cc_parsed.length > 1" style="display: inline">
              <summary *ngFor="let ccs of selected.cc_parsed">
                <span *ngIf="ccs.name">{{ccs.name}} - </span>
                <span>{{ccs.address}}</span>
              </summary>
            </details>
          </div>

        </div>
        <hr>
        <div>
          <div>
            <div class="btn" *ngIf="deleted.includes(selected.oid)" (click)="restore_handler($event, selected)">Restore</div>
            <div class="btn" *ngIf="!deleted.includes(selected.oid)" (click)="delete_handler($event, selected)">Delete</div>
          </div>
        </div>

      </header>
      <header *ngIf="selected && attachments.length > 0">
        <div>Attachments[{{attachments.length}}]:</div>
        <div *ngFor="let att of attachments">
          <a href="{{att.downloadUrl}}" target="_blank" class="attachments">{{att.filename}}</a>
        </div>
      </header>

      <article #article></article>




    </aside>

  </section>

  <!--  s-->


  <!--  <div *ngFor="let item of data.emails"  >-->
  <!--    <span *ngIf="item.subject">{{item.subject}}</span>-->

  <!--    <div *ngIf="item.html "[innerHTML]="item.html"></div>-->
  <!--  </div>-->


</div>
